name: Build Firmware

on:
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    container: qmkfm/base_container

    steps:
      - name: Install dependencies
        run: |
          apt-get update && apt-get install -y bear remake

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: true

      - name: Deploy submodules
        run: |
          sed -i 's#git@github.com:#https://github.com/#g' .gitmodules
          git submodule update --init --recursive
          cd "qmk_firmware" \
            && git fetch --all --tags \
            && git checkout generated-workarea \
            && cd .. \
            || { echo "FAILED" >&2 ; exit 1 ; }
