name: Build Firmware

on:
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    container: qmkfm/base_container

    steps:
      - name: Install dependencies
        run: |
          apt-get update && apt-get install -y remake

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: true

      - name: Deploy submodules
        run: |
          sed -i 's#git@github.com:#https://github.com/#g' .gitmodules
          git submodule update --init --recursive
          cd "qmk_firmware" \
            && git fetch --all --tags \
            && cd .. \
            || { echo "FAILED" >&2 ; exit 1 ; }

      - name: Install QMK CLI
        run: |
          # rm bin/qmk # GitHub actions doesn't like this, use the system-wide QMK CLI instead
          # ./bin/qmk --update
          python3 -m pip install --upgrade qmk
          python3 -m pip install -r qmk_firmware/requirements-dev.txt

      - name: Build Firmware
        run: |
          #export PATH="$(pwd)/bin:$PATH"
          remake git-submodule
          #remake -j1 -O nick

      - name: 'Upload binaries'
        uses: actions/upload-artifact@v2
        with:
          name: Artifacts
          path: |
            qmk_firmware/*.bin
            qmk_firmware/*.hex
            qmk_firmware/*.uf2
